.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Menu>a {
    padding-right: 10px;
}

.indentDiv {
    padding-left: 50px;
}

.indentDiv2 {
    padding-left: 100px;
}

.indentDiv3 {
    padding-left: 150px;
}

.indentDiv4 {
    padding-left: 200px;
}
.dataTable {
    text-align: left;
    padding-left: 250px;
}

.dataTable td {
    padding-right: 20px;
}

.cellLeft {   
    text-align: left;
}
.cellRight {
    /* text-align: Right; */
}
.cellCenter {
    text-align: Center;
}

.react-grid-Cell:focus {
    /* outline: none !important; */
    /* outline-offset: 0px; */
    /* background-color: rgba(200,0,0,.5); */
}